
.DS_Store
*.b#2
*.b##
*.b#1
*.s#1
*.s#2
*.b#4
*.b#5
*.b#3
*.s##
*.b#3
*.b#6
*.s#3
*.s#4
*.b#7
*.b#8
*.b#9
*.s#5
*.s#6
*.s#7
*.s#8
*.ini
*backups*
*_autosave*
boxGenerator/Archives/boxGenerator.FCStd
boxGenerator/Archives/boxGenerator.FCStd1
boxGenerator/Archives/boxGeneratorV1.1.FCStd
boxGenerator/Archives/boxGeneratorV1.2.FCStd
boxGenerator/Archives/boxGeneratorV1.FCStd
boxGenerator/Archives/boxGeneratorV1.FCStd1
boxGenerator/Archives/Fomules.txt
boxGenerator/Archives/PlanDecoupe.svg
*.FCStd1
*.FCStd1
